PORT=5002
MONGO_URI=mongodb://studenthub05:studenthub05@cluster0-shard-00-00.fq5ee.mongodb.net:27017,cluster0-shard-00-01.fq5ee.mongodb.net:27017,cluster0-shard-00-02.fq5ee.mongodb.net:27017/secureride?ssl=true&replicaSet=atlas-3k1cbx-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_secret_key
CLIENT_URL=http://localhost:5175
